<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    </head>

    <body>
        <template lang="pug">
            div#app
                div(
                    v-for="user in users"
                    :key="users.id"
                )
                h1 {{ user.name }}
                p {{ user.email }}
                button(@click="fetchUsers") Click me!
        </template>
          
        <script>
            export default {
                name: 'app',
                    data () {
                        return {
                            users: []
                        }
                    },
                methods: {
                    fetchUsers: function () {
                        const baseURI = 'https://jsonplaceholder.typicode.com/users'
                        this.$http.get(baseURI)
                        .then((result) => {
                            this.users = result.data
                        })
                    }
                }
            }
        </script>
            
        <style lang="scss">
        #app {
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-align: left;
            width: 640px;
            margin: 0 auto;
            color: #2c3e50;
            margin-top: 60px;
        }
        </style>
    </body>
</html>